/nbproject
.idea/
/.env
*.tar.gz
*.zip
lcov.info
node_modules
/bin/
preprocessed.js
public/env.js
/public/coverage/
module*.js
/_git
/yt-to-mp3
yarn-error.log
/playwright-report/
/dist/
/build/
.DS_Store
*.injected.js
*.node.bundled.gitignored.js
*.node.bundled.gitignored.mjs
*.node.bundled.gitignored.cjs
**/*.rendered.html
pages/coverage
/_______index.html
.cache_ggshield
/ttt/
/coverage/
/test-results/.last-run.json
*.jasmine-esbuild.js
/.playwright-mcp/

# es.ts vvv don't remove
es.mjs
pages/node/semaphore/Semaphore.js
pages/bookmarklets/gmail/extract.js
# es.ts ^^^ don't remove


















!
!Usage:
!  find public -name "*.ts" | NODE_OPTIONS="" node es.mjs
!  find public -name "*.ts" | NODE_OPTIONS="" node es.mjs --dry-run
!
!Description:
!  Transpiles TypeScript files to JavaScript using esbuild, stripping types 
!  and applying custom formatting (2-space indentation, unjamming braces).
!  It accepts a newline-separated list of files from stdin.
!  
!Options:
!  --dry-run  Skip reading and transformation; only calculate and print 
!             the hypothetical JavaScript output file paths.
!  
!Built-in Config:
!{
!  "target": "esnext",
!  "indentSize": 2,
!  "loader": "ts",
!  "charset": "utf8",
!  "minify": false
!}
!
