/nbproject
.idea/
*.tar.gz
*.zip
lcov.info
node_modules
/bin/
preprocessed.js
public/env.js
/public/coverage/
module*.js
/_git
yarn-error.log
/playwright-report/
/dist/
/build/
.DS_Store
*.injected.js
*.node.bundled.gitignored.js
*.node.bundled.gitignored.mjs
*.node.bundled.gitignored.cjs
**/*.rendered.html
pages/coverage
/_______index.html
.cache_ggshield
/ttt/
/coverage/
/test-results/.last-run.json
*.jasmine-esbuild.js


















