#!/bin/bash

_SHELL="$(ps "${$}" | grep "${$} " | grep -v grep | sed -rn "s/.*[-\/]+(bash|z?sh) .*/\1/p")"; # bash || sh || zsh
case ${_SHELL} in
  zsh)
    _DIR="$( cd "$( dirname "${(%):-%N}" )" && pwd -P )"
    _0="$( basename "${(%):-%N}" )"
    _SCRIPT="${(%):-%N}"
    _BINARY="/bin/zsh"
    _PWD="$(pwd)"
    ;;
  sh)
    _DIR="$( cd "$( dirname "${0}" )" && pwd -P )"
    _0="$( basename "${0}" )"
    _SCRIPT="${0}"
    _BINARY="/bin/sh"
    _PWD="$(pwd)"
    ;;
  *)
    _DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd -P )"
    _0="$( basename "${BASH_SOURCE[0]}" )"
    _SCRIPT="${BASH_SOURCE[0]}"
    _BINARY="/bin/bash"
    _PWD="$(pwd)"
    ;;
esac

echo "current shell is: ${_BINARY}"


source ~/.any_shell_common.sh

echo DOT_ANY_SHELL_COMMON ${DOT_ANY_SHELL_COMMON:-false}
echo DOT_ZPROFILE_LOADED ${DOT_ZPROFILE_LOADED:-false}
echo DOT_BASH_PROFILE ${DOT_BASH_PROFILE:-false}

export WORKSPACE_DIR="${HOME}/Workspace"
export __REPO="${WORKSPACE_DIR}/STOPSOPA__stopsopa.github.io/STOPSOPA__stopsopa.github.io"

echo ---- sshh --auto:
sshh --auto

echo --- end of .huskyrc
echo ""