
_SHELL="$(ps "${$}" | grep "${$} " | grep -v grep | sed -rn "s/.*[-\/]+(bash|z?sh) .*/\1/p")"; # bash || sh || zsh
case ${_SHELL} in
  zsh)
    _DIR="$( cd "$( dirname "${(%):-%N}" )" && pwd -P )"
    _0="$( basename "${(%):-%N}" )"
    _SCRIPT="${(%):-%N}"
    _BINARY="/bin/zsh"
    _PWD="$(pwd)"
    ;;
  sh)
    _DIR="$( cd "$( dirname "${0}" )" && pwd -P )"
    _0="$( basename "${0}" )"
    _SCRIPT="${0}"
    _BINARY="/bin/sh"
    _PWD="$(pwd)"
    ;;
  *)
    _DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd -P )"
    _0="$( basename "${BASH_SOURCE[0]}" )"
    _SCRIPT="${BASH_SOURCE[0]}"
    _BINARY="/bin/bash"
    _PWD="$(pwd)"
    ;;
esac

eval __HOME="~"

echo "========================================= execute ${__HOME}/.huskyrc regular vvv"

if [ "${_BINARY}" = "/bin/sh" ]; then

    set -e

    echo "========================================= execute ${__HOME}/.huskyrc in zsh vvv"

    /bin/zsh "${__HOME}/.huskyrc"

    echo "========================================= execute ${__HOME}/.huskyrc in zsh ^^^ all good"
else

    alias sshh="/bin/bash ~/sshh.sh"

    if [ "${_BINARY}" = "/bin/zsh" ]; then

        echo load ~/.zshrc

        source ~/.zshrc
    fi

    if [ "${_BINARY}" = "/bin/bash" ]; then

        echo load ~/.bashrc

        source ~/.bashrc
    fi

    if [ "${SSHH_DIR_WITH_KEYS}" = "" ]; then

        echo ".huskyrc error: SSHH_DIR_WITH_KEYS is not defined"
        exit 1
    fi

    if [ "${NVM_BIN}" = "" ]; then

        echo ".huskyrc error: NVM_BIN is not defined"
        exit 1
    fi

    nvm use 16

    /bin/bash ~/sshh.sh --auto



fi

echo "========================================= execute ${__HOME}/.huskyrc regular ^^^ all good"
