[data-popover] {
  inset: auto;
  margin: 0;
  width: max-content;
  position-try: flip-block, flip-inline;
  --interest-delay-start: 0.3s;
  --interest-delay-end: 0.3s;
  --popover-offset: 10px; /* NOTE: you can remove it from here and define in :root {--popover-offset: 10px;} to controll it globally */
}
/* 9 cardinal positions */
[data-popover].topleft {
  bottom: calc(anchor(top) + var(--popover-offset));
  right: anchor(left);
}
[data-popover].top,
[data-popover]:not(.topleft):not(.top):not(.topright):not(.left):not(.center):not(.right):not(.bottomleft):not(
    .bottom
  ):not(.bottomright) {
  bottom: calc(anchor(top) + var(--popover-offset));
  justify-self: anchor-center;
}
[data-popover].topright {
  bottom: calc(anchor(top) + var(--popover-offset));
  left: anchor(right);
}
[data-popover].left {
  right: calc(anchor(left) + var(--popover-offset));
  align-self: anchor-center;
}
[data-popover].center {
  justify-self: anchor-center;
  align-self: anchor-center;
}
[data-popover].right {
  left: calc(anchor(right) + var(--popover-offset));
  align-self: anchor-center;
}
[data-popover].bottomleft {
  top: calc(anchor(bottom) + var(--popover-offset));
  right: anchor(left);
}
[data-popover].bottom {
  top: calc(anchor(bottom) + var(--popover-offset));
  justify-self: anchor-center;
}
[data-popover].bottomright {
  top: calc(anchor(bottom) + var(--popover-offset));
  left: anchor(right);
}

[interestfor] {
  /*  for polyfill this must be a custom property */
  interest-delay-start: var(--interest-delay-start, 0.3s);
  interest-delay-end: var(--interest-delay-end, 0.3s); /* Bridges the gap when moving between buttons */
}

/* If the container (or the element itself) has interest, remove delay for siblings */
/* from: https://una.github.io/back-to-the-future-of-web-dev/ */
:has(> :interest-source) > [interestfor] {
  interest-delay-start: 0s;
}
