<table>
  <thead>
    <tr>
      <th colspan="2">keyPath</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="?action=keyPath_add_john">?action=keyPath_add_john</a></td>
      <td>added_user <%= added_user %></td>
    </tr>
    <tr>
      <td>just deleted user id:</td>
      <td><%- deleted_user %></td>
    </tr>
    <tr>
      <th colspan="2">users:</th>
    </tr>
    <% _.forEach(Object.entries(list), function([key, object]) { %>
    <tr>
      <td>
        id: <a href="?action=keyPath_get&key=<%- key %>"><%- key %></a>
        <pre><%- JSON.stringify(object) %></pre>
      </td>
      <td>
        <a href="?action=keyPath_delete&key=<%- object.key %>">delete</a>
        |
        <a href="?action=keyPath_update&key=<%- object.key %>">update</a>
      </td>
    </tr>
    <% }); %>
    <tr>
      <th colspan="2">get_user:</th>
    </tr>
    <tr>
      <td colspan="2">
        <pre><%- JSON.stringify(get_user) %></pre>
      </td>
    </tr>
  </tbody>
</table>
