<table>
  <thead>
    <tr>
      <th colspan="2">autoIncrement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="?action=autoIncrement_add_john">?action=autoIncrement_add_john</a></td>
      <td>added_user <%= added_user %></td>
    </tr>
    <tr>
      <td>just deleted user id:</td>
      <td><%- deleted_user %></td>
    </tr>
    <tr>
      <th colspan="2">users:</th>
    </tr>
    <% _.forEach(Object.entries(list), function([key, value]) { %>
    <tr>
      <td>
        id: <a href="?action=autoIncrement_get&key=<%- key %>"><%- key %></a>
        <pre><%- JSON.stringify(value) %></pre>
      </td>
      <td>
        <a href="?action=autoIncrement_delete&key=<%- key %>">delete</a>
        |
        <a href="?action=autoIncrement_update&key=<%- key %>">update</a>
      </td>
    </tr>
    <% }); %>
    <tr>
      <th colspan="2">get_user:</th>
    </tr>
    <tr>
      <td colspan="2">
        <pre><%- JSON.stringify(get_user) %></pre>
      </td>
    </tr>
  </tbody>
</table>
