.board {
  display: flex;
  /*border: 1px solid gray;*/
  flex-wrap: wrap;
  background-color: lightgray;
}
.board > div {
  box-shadow: #cccaca 1px 1px;
}
.board > div.on {
  background-color: darkgreen;
}

.bricks {
  display: flex;
  /*border: 1px solid gray;*/
  flex-wrap: wrap;
  background-color: lightgray;
}
.bricks > div {
  box-shadow: #cccaca 1px 1px;
}
