.example1 {
  /*
     * vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
     * All of styles in .vanilla-tooltip are needed only for vanilla js tooltip
     * so add .vanilla-tooltip class to the parent element 
     */
  &.vanilla-tooltip {
    .tooltipstyle {
      display: none;
      &[data-tooltip-id] {
        display: inline-block;
      }
      /**
         * Adding these classes is not needed in react version
         */
      &.tooltip-hide-on-click-outside,
      &.tooltip-toggle-click,
      &.tooltip-on-hover {
        display: none;
        &.show {
          display: inline-block;
        }
      }
    }
  }
  /*
    * All of styles in .vanilla-tooltip are needed only for vanilla js tooltip
    * so add .vanilla-tooltip class to the parent element 
    * ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
     */
  [data-tooltipselector] {
    &.show {
      background-color: rosybrown;
    }
  }
  .tooltipstyle {
    /* from: https://floating-ui.com/docs/migration#positioning-function-change */
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    .arrow {
      &,
      &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
      }

      & {
        visibility: hidden;
      }

      &::before {
        visibility: visible;
        content: "";
        transform: rotate(45deg);
      }
      &.top {
        bottom: -4px;
      }
      &.bottom {
        top: -4px;
      }
      &.left {
        right: -4px;
      }
      &.right {
        left: -4px;
      }
    }
  }
}
